{% extends 'base.html.twig' %}

{% block title %}Reset Password !{% endblock %}

{% block body %}
    {% for message in app.flashes('danger') %}
        <div class="flash-danger">
            {{ message }}
        </div>
    {% endfor %}
    <form method="post">
        <h1 class="h3 mb-3 font-weight-normal">Réinitialisation du mot de passe</h1>
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="--" required>
        <label for="inputPassword2" class="sr-only">Confirmer le mot de passe</label>
        <input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="--" required>
        <input type="hidden" name="token" value="{{ token }}">
        <button class="btn btn-lg btn-primary" type="submit">
            Valider
        </button>
    </form>
{% endblock %}