.navbar-dark {
    background-color: #084a57;
}

.bg-green {
    background-color: #084a57;
    color: #e4eef0;
}

.bg-blue {
    background-color: #225577;
    color: #d3e5ee;
}

.capitaine {
    background-color: #042830;
    height: 40px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    display: table;
    line-height: 40px;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom:1px;
    word-spacing:2px;
}

.margin {
    height: 5px;
}

.capitaineVet {
    background-color: #04310b;
    height: 40px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    display: table;
    line-height: 40px;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom:1px;
    word-spacing:2px;
}

tr.homme {
    background-color: #ebfbff;
}

tr.femme {
    background-color: #fdeef8;
}

.petit{
    font-size: 14px;
}

.col.interclub span {
    background: #e1ecee;
    line-height: 50px;
    vertical-align: text-bottom;
    font-size: 14px;
}

#cercle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #084a57;
    color: white;
    text-align: center;
    line-height: 40px;
    margin: 5px;
    font-size: 18px;
    max-width: 40px;
}

.interclub {
    list-style-type:none!important;
    vertical-align: middle;
}

.col.petit {
    padding-right: 0px;
    padding-left: 22px;
}

.table-smallfont td {
    font-size:12px;
}

.table-middlefont td {
    font-size:13px;
}

tr.closed {
    background-color: rgb(206, 206, 206);
}

tr.soon {
    background-color: rgb(238, 208, 181);
}

tr.closed {
    background-color: rgb(206, 206, 206);
}

.table-smallfont th {
    font-size:14px;
    background-color: rgb(240, 240, 240);
}

.closed {
    background-color: rgb(206, 206, 206);
    text-align: center;
}

.soon {
    background-color: rgb(238, 208, 181);
    text-align: center;
}

.ouvert {
    background-color: rgb(226, 243, 241);
    text-align: center;
}

.limit{
    max-width:500px;
}

.marginright {
    margin-right: 3px;
}

.bg-success {
    color: #e5f3e7;
}

.bg-all {
    background-color: #e4eef0;
    color: #042f38;
}

.navbar-dark .navbar-nav .nav-link {
  color: #cde7ec;
}

.container .nav-link {
    color: #084a57;
}

.tab {
    width: 10px;
}

.light {
    font-weight: lighter; 
    margin-bottom: 0!important;
}

/* Card titles */
.actif {
    background-color: rgb(26, 138, 212);
    font-size: 1.3rem;
    color: rgb(236, 244, 250);
}

.title {
    font-size: 1.3rem;
}

a {
    color: #084a57;
}

a:hover {
    color: #05323b;
    text-decoration: underline;
}

img.w100 {
	max-width: 100px;
	height: auto;
}

img.w150 {
	max-width: 150px;
	height: auto;
}

img.w315 {
	max-width: 315px;
	height: auto;
}

img.p100 {
	max-width: 100%;
	height: auto;
}

.custom-file-label::after {
    content: "Parcourir";
}

.container .nav .active {
    color: #cde7ec;
    background-color: #084a57;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: white;
}

.navbar-dark .navbar-nav .nav-link:active{
    color: #cde7ec;
}

.bg-white {
    background-color: white;
}

.separation{
    color: #e6e6e6;
}

.navbar-dark .navbar-nav .dropdown-item:active{
    background-color: #084a57;
}

.myfieldset {
    background-color:#dde2e2;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border:2px solid #084a57;
    margin:10px;
    padding:10px;
}

.mylegend {
    background-color: #084a57;
    color: #cde7ec;
    padding: 3px 6px;
    font-size: 20px;
    margin:6px;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}

#hide {
    visibility:hidden;
}

input:required {
    border-left: 3px solid rgb(177, 9, 9);
}

/* Login form */
.form-signin-heading {
    text-align:center;
}

.bg-login {
    background-color: #084a57;
    color: #cde7ec;
}

#login {
    align-items: center;
}

.login {
    max-width: 480px;
}

.login button {
    margin: 10px;
}

.login input {
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15px;
    text-align: left;
}

.text-login {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1.6em;
    line-height: 2em;
}

/* Footer */
section {
    padding: 10px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 30px;
    text-transform: uppercase;
}
#footer {
    background: #084a57 !important;
}
#footer h4{
	padding-left: 5px;
	vertical-align: bottom;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
    font-size: 18px;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}
/* Footer */

/* Card headers bootstrap customize */

.card .card-header.blog {
    background-color: #084a57;
    color: #e7f0f1;
    font-size: 20px;
  }

.card .card-footer.blog {
    background-color: #e1ecee;
    color: #0b4147;
    font-size: 16px;
  }

/* Début Superposition Image et Texte */

/* Conteneur principal */
.overlay-image {
    position: relative;
    max-width: 200px;
}
   /* Image originale */
.overlay-image .image {
    display: block;
    width: 100%;
    height: auto;
}
/* Texte original */
.overlay-image .text {
    color: #cde7ec;
    font-size: 18px;
    line-height: 1.5em;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.overlay-image .text:hover {
    color: white;
}
/* Fin Superposition Image et Texte */

/* Navigation animée CSS */

.animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon3 span {
    background: #e4eef0;
}
    
.animated-icon3 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    }
    
.animated-icon3 span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    }
    
.animated-icon3 span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.open {
    background-color: #084a57;
    text-align: center;
}

.animated-icon3.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 4px;
}
    
.animated-icon3.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}
    
.animated-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 4px;
}

/* Fin Animation CSS */

/* Code pour texte défilant */

.h25 {
    height: 25px;
}

.h10 {
    height: 10px;
}

.mw-800 {
    max-width: 800px;
}

.mw-400 {
    max-width: 400px;
}

.myheader {
    height: 25px;
    color: #cdedf3;
    background-color: #084a57;
    text-align: center;
    font-style: italic;
}

.secondheader {
    height: 25px;
    color: #000;
    background-color: #ecf6f8;
    text-align: center;
}

.marquee-rtl {
    max-width: 50em;                      /* largeur de la fenêtre */
    margin: 0em auto 0em;
/*    border: 1px solid #e2b728; */
    overflow: hidden;                     /* masque tout ce qui dépasse */
    box-shadow: 0 .25em .5em #f8d7da,inset 0 0 1em .25em #f8d7da;
}

/* le bloc défilant */
.marquee-rtl > :first-child {
    display: inline-block;                /* modèle de boîte en ligne */
    padding-right: 2em;                   /* un peu d'espace pour la transition */
    padding-left: 100%;                   /* placement à droite du conteneur */
    white-space: nowrap;                  /* pas de passage à la ligne */
    animation: defilement-rtl 15s infinite linear;
}

.marquee-rtl:hover :first-child {
    animation-play-state: paused;
}

@keyframes defilement-rtl {
    0% {
      transform: translate3d(0,0,0);      /* position initiale à droite */
    }
    100% {
      transform: translate3d(-100%,0,0);  /* position finale à gauche */
    }
  }

/* Fin Code pour texte défilant */

/* Boite de message div */
.message {
    margin-top: 5px;
    height: 35px;
}

.alert-ok {
    color: #10a16a;
    width: auto;
    margin-left: 8%;
    height: 25px;
}

.alert-ko {
    color: #df2f2f;
    width: auto;
    margin-left: 8%;
    height: 25px;
}

/* Style des boites de composition des équipes Interclubs */
.DH.bg-success {
    background-color: #146879!important;
}

.DH.card-header {
    min-width: 200px;
}

.SH.bg-success {
    background-color: #2ca6be!important;
}

.SD.bg-success {
    background-color: #e087c2!important;
}

.DD.bg-success {
    background-color: #d44aa6!important;
}

.DM.bg-success {
    background-color: rgb(138, 53, 187)!important;
}

.DD.card-header {
    min-width: 200px;
}

.DM.card-header {
    min-width: 200px;
}

.card {
    margin:10px;
}

/* Adaptation du look des 'boites' joueurs */
.joueur {
    background-color: #ebfbff!important;
}

.joueuse {
    background-color: #ffe6f7!important;
}

/* Aspect de la coche radio */
input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 18px;
    height: 18px;
  
    border: 1px solid rgb(41, 107, 107);
    transition: 0.2s all linear;
    margin-right: 1px;
    margin-left: 10px;

    vertical-align: text-bottom;
}

/* Label changed when selected */
input[type="radio"]:checked {
    border: 6px solid #5289d1;
}

label[disabled]{
    opacity: 0.5;
}

/* Modify style when checked */
input[type="radio"]#oui:checked {
    border: 6px solid #28a745;
}

/* Modify style when checked */
input[type="radio"]#non:checked {
    border: 6px solid rgb(202, 23, 23);
}

/* Modify style when checked */
input[type="radio"]#nsp:checked {
    border: 6px solid rgb(114, 114, 114);
}

/* Label changed when selected */
input[type="radio"]#oui:checked + label {
    color: #28a745;
}

/* Label changed when selected */
input[type="radio"]#non:checked + label {
    color: rgb(202, 23, 23);
}

/* Label changed when selected */
input[type="radio"]#nsp:checked + label {
    color: rgb(114, 114, 114);
}

/* Circle with text inside */
.ouiCircle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 8px;
    line-height: 18px;
    display:inline-block;
    border: 2px solid white;
    color: white;
    background-color: #28a745;
    text-align: center;
    margin-left: 10px;
    margin-right: 3px;
}

.nonCircle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 8px;
    line-height: 18px;
    display:inline-block;
    border: 2px solid white;
    color: white;
    background-color: rgb(202, 23, 23);
    text-align: center;
    margin-left: 10px;
    margin-right: 3px;
}

/* centrer le bouton de la modal */
.modal-footer {
    justify-content: center;
}

.editIE {
    margin-left: 20px;
}

.back {
    margin-bottom: 10px;
}

.back a{
    text-decoration: none;
}

/* Style pour la distinction Homme / Femme */
span.fille {
     background-color: rgb(250, 221, 227);
}

input.score {
    width: 55px;
    height: 25px;
    text-align: center;
    vertical-align: top;
}

.min-h-100 {
    min-height: 100px;
}

.min-h-400 {
    min-height: 400px;
}

/* Pour gérer les compositions d'équipe */

.draggable { width: auto; height: auto; padding: 0.5em; float: left; margin: 10px; }
.droppable { position: unset; }

.card-body{
    min-height: 70px;
}

/*
.droppable { width: 250px; height: 250px; padding: 0.5em; float: left; margin: 10px; }
*/