{% extends 'base.html.twig' %}

{% block title %}Photos et Vidéos{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header"><h5 class="card-title">Page en construction...</h5></div>
        <div class="card-body">
            Merci de revenir vers fin Janvier 2020
        </div>
    </div>
    <div class="tab">&nbsp;</div>
</div>
{% endblock %}
