{% extends 'base.html.twig' %}

{% block title %}BACV - Compo{% endblock %}

{% block body %}
{{ interclub.name }}
{{ interclub.isMixte }}
<div class="container mb-4 min-h-300">
    <div id="Arnaud" class="ui-widget-content draggable">
    <p>Arnaud</p>
    </div>
    <div id="Clement" class="ui-widget-content draggable">
    <p>Clément</p>
    </div>
    <div id="1" class="ui-widget-header droppable">
    <p>Double Homme</p>
    </div>
</div
{% endblock %}
